.upload
{
    display: grid;
    gap: 20px;
}

.buttons
{
    display: flex;
    justify-content: end;
    column-gap: 20px;
}

.input {
    display: none;
}

.wrapperPreview
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.NoneData {
    text-align: center;
}